body {
  background-color: whitesmoke;
}

h1 {
  background-color: #1D65AD;
  color: whitesmoke;
  font-size: 48px;
  text-align: center;
  border-radius: 25px;
  padding: 1px;
}

h2 {
  color: #1D65AD;
  font-size: 24px;
  padding: 15px;
  font-weight: bold;
}

p {
  padding-left: 15px;
}